/*Arquivo estilistico do site*/

nav {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #6DBB33;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1fdcf;
}

.mapa {
    border: solid 1px #6DBB33;
    border-radius: 10px;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
    margin-left: 25px;
}

.cabecalho p {
    font-size: 28px;
    margin-top: 10px;
    display: flex;
}

.linkPaginas {
    display: flex;
}

h1 {
    text-align: center;
}

main {
    padding: 30px;
    max-width: 1250px;
    margin: 0px auto;
}

.caixa1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin: 0px auto;

}

@media (max-width: 600px) {
    .caixa1 {
        display: flex;
        flex-direction: column;

    }

    .cabecalho p {
        display: none;
    }
}

.sessoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: max-content;
    margin: 0px auto;
}

section {
    min-height: 300px;
    min-width: 300px;
    padding: 10px;
}

#pontos p{
    max-width: 540px;
}

footer {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #6DBB33;
    background-color: #f1fdcf;
    height: 90px;
    padding: 18px;

}